
  .card-container {
    height: 45vh; 
    width: 80vw; 
    margin: 0 auto;
    border: 2px solid white;
    background-color: white;
    overflow: hidden;
    padding-left: 3vw;
    padding-bottom:3vh;
  }
  .card {
    height: 50vh; 
    width: 37vh; 
    margin: 0 auto;
  }
  .Activities {
    padding-bottom:3vh;
    padding-top:3vh;
    font-size:larger;

  }
  .title {
    padding-top:1vh;
    padding-left:1vh;
  }
  