
  .card-container {
    height: 45vh; /* 20% of the viewport height */
    width: 80vw; /* 60% of the viewport width */
    margin: 0 auto;
    border: 2px solid white;
    background-color: white;
    overflow: hidden; /* Ensure the border is visible even if the carousel overflows */
    padding-left: 3vw;
    padding-bottom:3vh;
  }
  .card {
    height: 50vh; /* 20% of the viewport height */
    width: 37vh; /* 60% of the viewport width */
    margin: 0 auto;
  }
  .Activities {
    padding-bottom:3vh;
    padding-top:3vh;
    font-size:larger;

  }
  .title {
    padding-top:1vh;
    padding-left:1vh;
  }
  