@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #bfdbf1;
    --secondary-color: #78a2f0;
    --tertiary-color: #3c6e71;
    --accent-color-1: #f0f3bd;

    --border-color: #dd7e26;

    --text-color-light: #ffffff;
    --text-color-dark: #000000;

    --border-radius: 2rem;

    /* Colors from the figma */
    /* TODO: Gradient colors need to be colorpicked from the figma */
    --background-primary: #effbff;
    --background-secondary: #d0ebff;

    --main-card-primary: #9ed3f9;
    --main-card-secondary: #bdddd0;

    --secondary-card-primary: #d1e8fb;
    --secondary-card-secondary: #daecfa;

    --text-light: #ffffff;
    --text-light-secondary: #f4f4f4;
    --text-light-tertiary: #e6e6e6;

    --text-dark: #000000;
    --text-dark-secondary: #4d4d4d;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
