# DO NOT PUT ANYTHING SENSITIVE IN THIS FILE!
# This is just a template for the .env file.
# Copy this file to .env and replace the values with your own.
# And make sure that .env is in the .gitignore file!

PORT="5000"
OPENWEATHER_API_KEY="your-api-key-here"
