
body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .searchBar {
    padding: 12px;
    margin-top: -600px; /* Adjust as necessary */
    width: calc(100% - 16px); /* Full width minus padding */
    border: none;
    border-bottom: 1px solid #ccc; /* Underline effect */
    background: transparent;
    color: white; /* Adjust if necessary */
    font-size: 16px; /* Adjust as necessary */
  }
  
  .sidebar {
    background-color: rgba(0, 0, 0, 0.85); /* Black with 85% opacity */
    width: 50px; /* Width of the sidebar to match the toggle button */
    height: 50px; /* Height of the sidebar to match the toggle button */
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.4s, height 0.4s;
    display: flex;
    align-items: center; /* Centers the toggle button vertically */
    overflow: hidden;
  }
  
  .sidebar.expanded {
    width: 200px; /* Width when sidebar is expanded */
    height: 100%; /* Full screen height when expanded */
  }
  
  .toggleButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
  
  .sidebar.expanded .toggleButton {
    position: absolute;
    top: 0;
  }
  